{% extends 'user/base_user.html.twig' %}

{% block title %}Загрузка фото{% endblock %}

{% block section %}
    <h2>Фотографии с соревнования</h2>
    <div class = "container">
        <div class="row">
            {% for image in images %}
                <div class="card mb-2 mx-2" style="width: 18rem;">
                    <img src="{{ asset("uploads/post/") }}{{ image.originName }}" class="card-img-top" alt="Картинка">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.fileName }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}