{% extends 'user/base_user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block section %}
    <h2 class = "text-center">Пользователи</h2>
    {% for user in users %}
        <div class="card w-75  text-center mt-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ user.firstName }}
                </h5>
                <a href="{{ path('user_show', {secondUser:user.id}) }}" class="btn btn-primary">Перейти в профиль</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
