{% extends 'user/base_user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block section %}
        <div class="card w-75  text-center mt-3">
            <div class="card-body">
                <h5 class="card-title">
                    Вы: {{ user.firstName }}
                </h5>
                <p class="card-text">Имя: {{ user.firstName }}</p>
                <p class="card-text">Фамилия: {{ user.lastName }}</p>
                <p class="card-text">Отчество: {{ user.patronymic }}</p>
                <a href="#">Изменить днанные</a>
            </div>
        </div>
{% endblock %}