{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Соревнования в которых принимал участие</h1>
    {% for competition in competitions %}
        <h2>{{ competition.name }}</h2>
        <a href = "{{ path('show_competition', {competition: competition.id})}}">Перейти на соревнование</a>
    {% endfor %}
{% endblock %}
